<%= render "shared/navbar"%>
<!--Spacer lol-->
<div class="h-20"></div>
<main class="bg-neutral-800 w-full">
  <!--Alert for when deleted-->
  <% if alert.present? %>
    <div class="absolute pt-20 flex flex-col w-full items-center" x-data="{ show: true }" x-show="show" x-transition x-init="setTimeout(() => show = false, 3000)">
      <div class="">
        <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="notice"><%= alert %></p>
      </div>
    </div>
  <% end %>

  <h1 class="text-4xl font-bold text-center py-10 text-gray-300">Messages</h1>
  <div class="flex flex-col items-center">
    <% @messages.order(:created_at).reverse_each do | message | %>
      <div class="border-2 my-3 mx-3 p-3 bg-white rounded-xl w-5/6 lg:w-1/2">
        <div class="flex flex-row justify-between">
          <div class="flex flex-col text-sm">
            <div class="flex flex-row">
              <div class="font-bold">ID</div>: <%= message.id %>
            </div>
            <div class="flex flex-row">
              <div class="font-bold">Name</div>: <%= message.name %>
            </div>
            <div class="flex flex-row">
              <div class="font-bold">Date</div>: <%= message.created_at.strftime("%b %e, %Y")%>
            </div>
            <div class="flex flex-row">
              <div class="font-bold">Email</div>: <%= message.email %>
            </div>
            <div class="flex flex-row">
              <div class="font-bold">Phone Number</div>: <%= message.phone %>
            </div>
          </div>
          <%= button_to 'X', message_path(message), method: :delete, class: "rounded-full py-1 px-3 bg-red-100 hover:bg-red-200 text-red-800" %>
        </div>
        <hr class="my-2">
        <%= message.content %>
      </div>
    <% end %>
  </div>
  <!--Spacer lol-->
  <div class="h-20"></div>
</main>

<%= render "shared/footer" %>