<%= render "shared/navbar" %>

<!--Main Content-->
<main class="bg-black text-neutral-400">

  <!--HEADER-->
  <div class="py-10 font-bold font-splash text-center">
    <% if current_page?(music_videos_path) %>
      <h1 class="text-6xl">music videos</h1>
    <% end %>
    <% if current_page?(battle_rap_path) %>
      <h1 class="text-6xl">Battle Rap</h1>
    <% end %>
    <% if current_page?(artists_to_watch_path) %>
      <h1 class="text-6xl">artists to watch</h1>
      <div class="font-sans font-normal">
        To Be Added To "Artist To Watch" Email <%= mail_to 'jayrone@voiceofahustler.com', class: "text-blue-400 hover:underline"%> - Pricing Starts @ $299.99
      </div>
    <% end %>
    <% if current_page?(interviews_path) %>
      <h1 class="text-6xl">Interviews</h1>
    <% end %>
  </div>

   <div class="flex flex-col lg:grid lg:grid-cols-4 gap-3 lg:mx-10">
    <% @videos.reverse_each do | video | %>
      <div class="flex flex-col">
        <%= link_to video, class: "hover:brightness-150 lg:hover:scale-110 transition" do %>
          <%= image_tag "https://img.youtube.com/vi/#{video.code}/0.jpg", class: "w-full" %>
          <div class="font-semibold text-sm text-center bg-black pb-3"><%=video.title%></div>
        <% end %>
      </div>
     <% end %>
    </div>

<!--Spacing-->
<div class="h-20"></div>
</main>

<%= render "shared/gc-cta"%>
<%= render "shared/cta"%>

<%= render "shared/footer"%>
