<%= render "shared/navbar" %>
<!--Spacer-->
<div class="h-20"></div>

<!--Main Content-->
<main class="bg-black text-neutral-400">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <!--HEADER-->
  <div class="py-10 font-bold font-splash text-center">
    <% if current_page?(music_videos_path) %>
      <h1 class="text-6xl">music videos</h1>
    <% end %>
    <% if current_page?(battle_rap_path) %>
      <h1 class="text-6xl">Battle Rap</h1>
    <% end %>
    <% if current_page?(artists_to_watch_path) %>
      <h1 class="text-6xl">artists to watch</h1>
      <div class="font-sans font-normal">
        To Be Added To "Artist To Watch" Email <%= mail_to 'jayrone@voiceofahustler.com', class: "text-blue-400 hover:underline"%> - Pricing Starts @ $299.99
      </div>
    <% end %>
  </div>

  <% @videos.reverse_each do | video | %>

    <!--Mobile Views-->
    <div class="flex flex-col items-center my-5 lg:hidden">
      <iframe width="320" height="180" src="https://www.youtube.com/embed/<%=video.code%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <%= video.title%><br>
      <% if admin_signed_in? %>
      <div class="flex flex-row items-center gap-3">
        <%= button_to 'Destroy this video', video_path(video), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-400 font-medium text-red-800 text-sm hover:bg-red-600" %>
        <%= link_to 'Edit this video', edit_video_path(video), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium text-sm" %>
      </div>
      <%end%>
    </div>   

    <!--desktop Views-->
    <div class="lg:flex lg:flex-col lg:items-center lg:my-5 hidden">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=video.code%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <%= video.title%><br>
      <% if admin_signed_in? %>
      <div class="flex flex-row items-center gap-3">
        <%= button_to 'Destroy this video', video_path(video), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-400 font-medium text-red-800 hover:bg-red-600" %>
        <%= link_to 'Edit this video', edit_video_path(video), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </div>
      <%end%>
    </div>  

  <% end %>

<!--Spacing-->
<div class="h-20"></div>
</main>

<%= render "shared/footer"%>
