<%= render "shared/navbar" %>
<!--Spacer-->
<div class="h-20"></div>

<!--Main Content-->
<main class="bg-black text-gray-300">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="py-10 font-bold font-splash text-center">
    <h1 class="text-6xl">All videos</h1>
  </div>

  <div class="flex flex-col lg:grid lg:grid-cols-4 gap-3 lg:mx-10">
  <% @videos.reverse_each do | video | %>
    <div class="flex flex-col">
      <%= link_to video, class: "hover:brightness-150 hover:scale-110 transition" do %>
        <%= image_tag "https://img.youtube.com/vi/#{video.code}/0.jpg", class: "w-full" %>
        <div class="font-semibold text-sm text-center bg-black pb-3"><%=video.title%></div>
      <% end %>
    </div>
  <% end %>
  </div>

<!--Spacing-->
<div class="h-20"></div>
</main>

<%= render "shared/footer"%>
