<%= render "shared/navbar" %>
<!--Spacer-->
<div class="h-20"></div>

<!--Main Content-->
<main class="bg-black text-neutral-400">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="py-10 font-bold font-splash text-center">
    <h1 class="text-6xl">music videos</h1>
  </div>

  <!--Link only for when admin signed in-->
  <div class="w-full mb-10 flex flex-row justify-center">
    <%= link_to 'New video', new_video_path, class: "text-center bg-green-300 text-green-600 rounded-lg px-5 py-3 font-medium  hover:bg-green-400" %>
  </div>

  <% @videos.reverse_each do | video | %>

    <!--Mobile Views-->
    <div class="flex flex-col items-center my-5 lg:hidden">
      <iframe width="320" height="180" src="https://www.youtube.com/embed/<%=video.code%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <%= video.title%>
    </div>   

    <!--desktop Views-->
    <div class="lg:flex lg:flex-col lg:items-center lg:my-5 hidden">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=video.code%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <%= video.title%>
    </div>  

  <% end %>

<!--Spacing-->
<div class="h-20"></div>
</main>

<%= render "shared/footer"%>
