<%= render "shared/navbar" %>
<!--Spacer-->
<div class="h-20"></div>

<!--Main Content-->
<main class="bg-black text-neutral-400">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="py-10 font-bold font-splash text-center">
    <h1 class="text-4xl">music videos</h1>
  </div>

  <!--Link only for when admin signed in-->
  <div class="w-full text-center">
    <%= link_to 'New video', new_video_path, class: "rounded-lg px-5 font-medium hover:text-gray-700" %>
  </div>
  <div id="videos" class="min-w-full">
    <%= render @videos %>
  </div>
</main>

<%= render "shared/footer"%>
