  <!--Social Section-->
  <section class="w-full h-12 flex flex-row justify-evenly lg:justify-center lg:gap-10 items-center bg-neutral-900 py-10">
  <%= link_to root_path do %><%= image_tag "youtube.png", class: "h-8 grayscale duration-700 transition hover:grayscale-0 hover:brightness-90 hover:scale-125" %><% end %>
  <%= link_to root_path do %><%= image_tag "instagram.png", class: "h-8 grayscale duration-700 transition hover:grayscale-0 hover:brightness-90 hover:scale-125" %><% end %>
  <%= link_to root_path do %><%= image_tag "facebook.png", class: "h-8 grayscale duration-700 transition hover:grayscale-0 hover:brightness-90 hover:scale-125" %><% end %>
  <%= link_to root_path do %><%= image_tag "twitter.png", class: "h-8 grayscale duration-700 transition hover:grayscale-0 hover:brightness-90 hover:scale-125" %><% end %>
  <%= link_to root_path do %><%= image_tag "spotify.png", class: "h-8 grayscale duration-700 transition hover:grayscale-0 hover:brightness-90 hover:scale-125" %><% end %>
  <%= link_to root_path do %><%= image_tag "soundcloud.png", class: "h-8 grayscale duration-700 transition hover:grayscale-0 hover:brightness-90 hover:scale-125" %><% end %>
  </section>

  <footer class="w-full h-12 flex flex-row justify-evenly items-center bg-neutral-900 text-white text-xs italics py-5">
    Copyright <%= Date.today.year %> Voice of a Hustler
  </footer>