<!--x-data and leave div open for sticky-->
<div class="" x-data="{ open: false }">
  <header class="sticky top-0 lg:hidden bg-neutral-300 text-gray-800 py-2">
    <%= link_to contact_path do%>
      <!--Mobile Heading-->
      <h1 class="font-semibold text-center">Media Bookings and Inquiries Click Here</h1>
    <% end %>  
  </header>
  <!--Phone number and Header-->
  <header class="sticky top-0 hidden lg:flex flex-row items-center justify-between bg-neutral-800 text-gray-50 py-2">
    <!--Desktop Headling-->
    <h1 class="font-bold text-2xl pl-5 hidden lg:block">Battle Rap MC and Creative Artist from STL</h1>
    <!--Mobile Heading-->
    <div class="px-5 lg:pr-5 flex flex-row items-center gap-5 lg:gap-6">
      <%= render "shared/social"%>
    </div>
  </header>
  <nav class="sticky top-0 w-full bg-neutral-900 text-neutral-400 z-50">
    <div class="flex flex-row items-center justify-between">
      <%= link_to root_path, data: { turbo: false } do %>
        <%= image_tag "logo.png", class: "h-20 pl-5 py-3 lg:hidden" %>
        <%= image_tag "logolong.png", class: "h-20 pl-5 py-3 hidden lg:block" %>
      <% end %>
      <!--Hamburger Menu Button-->
      <div class="lg:hidden text-4xl p-5" x-on:click="open = ! open">
        ☰
      </div>
      <!--desktop links-->
      <div class="lg:block hidden font-navfont uppercase">
        <!--create open variable in Alpine-->
        <div class="flex flex-row gap-2 xl:gap-7 mx-5 text-center items-center text-lg font-bold"
        x-data="{ audio_drop: false, video_drop: false }" 
         @mouseleave="audio_drop = false, video_drop = false" >
          <%=link_to "Home", root_path, data: { turbo: false },  class: "hover:text-neutral-200 hover:scale-110 link-underline"%>
          <%=link_to "The Hustle", root_path, class: "hover:text-neutral-200 hover:scale-110 link-underline"%>
          <%=link_to "Tour Dates", tours_path, class: "hover:text-neutral-200 hover:scale-110 link-underline"%>
          <!--Audio hover over dropdown-->
          <%# need to get scale-110 to work when moused over.  the @mouseover in this div messes with the tailwind hover: listener thingy%>
          <div class="" @mouseover="audio_drop = true" >
            <%=link_to "Audio", root_path, class: "hover:text-neutral-200 hover:scale-110 link-underline" %>
            <!--Hover Menu Audio-->
            <div class=" bg-neutral-900 dropshadow-xl rounded-b-xl w-44 absolute z-50 pb-5 pt-5 mt-6 mr-20" x-show="audio_drop"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 transform scale-90"
                x-transition:enter-end="opacity-100 transform scale-100"
                x-transition:leave="transition ease-in duration-300"
                x-transition:leave-start="opacity-100 transform scale-100"
                x-transition:leave-end="opacity-0 transform scale-90" >
              <div class="flex flex-col gap-3 mx-5 text-center items-center text-lg font-bold">
                <%=link_to "Music", tours_path, class: "hover:text-neutral-200 hover:scale-110 link-underline"%>
                <%=link_to "Pod Cast", tours_path, class: "hover:text-neutral-200 hover:scale-110 link-underline"%>
              </div>
            </div>
          </div>
          <!--Video hover over dropdown-->
          <div class="" @mouseover="video_drop = true">
            <%=link_to "Visual", root_path, class: "hover:text-neutral-200 hover:scale-110 link-underline"%>
            <!--Hover Menu Video-->
            <div class=" bg-neutral-900 dropshadow-xl rounded-b-xl w-56 absolute z-50 pb-5 pt-5 mt-6 mr-20" x-show="video_drop"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 transform scale-90"
                x-transition:enter-end="opacity-100 transform scale-100"
                x-transition:leave="transition ease-in duration-300"
                x-transition:leave-start="opacity-100 transform scale-100"
                x-transition:leave-end="opacity-0 transform scale-90" >
              <div class="flex flex-col gap-3 mx-5 text-center items-center text-lg font-bold">
                <%=link_to "Music Videos", tours_path, class: "hover:text-neutral-200 hover:scale-110 link-underline"%>
                <%=link_to "Battle Rap", tours_path, class: "hover:text-neutral-200 hover:scale-110 link-underline"%>
                <%=link_to "Interviews", tours_path, class: "hover:text-neutral-200 hover:scale-110 link-underline"%>
                <%=link_to "Artists to Watch", tours_path, class: "hover:text-neutral-200 hover:scale-110 link-underline"%>
              </div>
            </div>
          </div>
          <%=link_to "Merchandise", root_path, class: "hover:text-neutral-200 hover:scale-110 link-underline"%>
          <!--Button-->
          <%=link_to "Connect", root_path, class: "font-sans bg-neutral-200 hover:bg-neutral-50 transition-all duration-200 hover:scale-110 text-neutral-800 px-4 rounded-lg py-2"%>

          <%#=link_to "Music Videos", music_videos_path, class: "hover:text-neutral-700"%>
          <%#=link_to "Battle Rap", battle_rap_path, class: "hover:text-neutral-700"%>
          <%#=link_to "Artists to Watch", artists_to_watch_path, class: "hover:text-neutral-700"%>
          <%#=link_to "Game Corner", game_corner_path, class: "hover:text-neutral-700"%>
          <%#=link_to "Merchandise", merchandise_path, class: "hover:text-neutral-700"%>
        </div>
      </div>
    </div>
    <!--mobile menu-->
    <div class="lg:hidden">
      <div class="flex flex-col h-screen text-center justify-center -mt-10" x-cloak x-show="open" x-transition x-transition:enter.duration.600ms>
        <div class="flex flex-col justify-center gap-5 text-xl ">
         <%=link_to "Home", root_path, data: { turbo: false },  class: ""%>
          <%=link_to "The Hustle", root_path, class: ""%>
          <%=link_to "Tour Dates", tours_path, class: ""%>
          <%=link_to "Audio", root_path, class: ""%>
          <%=link_to "Visual", root_path, class: ""%>
          <%=link_to "Merchandise", root_path, class: ""%>
        </div>
        <div class="px-5 w-full flex flex-row items-center justify-center gap-5 mt-20">
          <%= render "shared/social"%>
        </div>
      </div>
    </div>
  
  </nav>
<!--
</div>
-->  

