<!--Mobile menu x-data-->
<div class="" x-data="{ open: false }">
  <nav class="w-full bg-neutral-900 text-neutral-400 fixed z-50">
    <div class="flex flex-row items-center justify-between">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", class: "h-20 pl-5 py-3 lg:hidden" %>
        <%= image_tag "logolong.png", class: "h-20 pl-5 py-3 hidden lg:block" %>
      <% end %>
      <!--Hamburger Menu Button-->
      <div class="lg:hidden text-4xl p-5" x-on:click="open = ! open">
        ☰
      </div>
      <!--desktop links-->
      <div class="lg:block hidden ">
        <div class="flex flex-row gap-3 xl:gap-7 mx-5 text-center">
          <%=link_to "Music Videos", music_videos_path, class: "hover:text-neutral-700"%>
          <%=link_to "Music", root_path, class: "hover:text-neutral-700"%>
          <%=link_to "Battle Rap", battle_rap_path, class: "hover:text-neutral-700"%>
          <%=link_to "Tour Dates", tours_path, class: "hover:text-neutral-700"%>
          <%=link_to "Artists to Watch", artists_to_watch_path, class: "hover:text-neutral-700"%>
          <%=link_to "Game Corner", game_corner_path, class: "hover:text-neutral-700"%>
          <%=link_to "Merchandise", merchandise_path, class: "hover:text-neutral-700"%>
        </div>
      </div>
    </div>

    <!--mobile menu-->
    <div class="lg:hidden">
      <div class="flex flex-col gap-5 h-screen text-center justify-center -mt-20" x-cloak x-show="open" x-transition x-transition:enter.duration.600ms>
        <%=link_to "Music Videos", music_videos_path, class: "hover:text-neutral-700"%>
        <%=link_to "Music", root_path, class: "hover:text-neutral-700"%>
        <%=link_to "Battle Rap", battle_rap_path, class: "hover:text-neutral-700"%>
        <%=link_to "Tour Dates", root_path, class: "hover:text-neutral-700"%>
        <%=link_to "Artists to Watch", artists_to_watch_path, class: "hover:text-neutral-700"%>
        <%=link_to "Game Corner", game_corner_path, class: "hover:text-neutral-700"%>
        <%=link_to "Merchandise", merchandise_path, class: "hover:text-neutral-700"%>
      </div>
    </div>
  </nav>
</div>