<div id="<%= dom_id tour %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= tour.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= tour.city %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this tour", tour, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this tour', edit_tour_path(tour), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
