<%= render "shared/navbar" %>

<main class="bg-black text-neutral-400">
  <!--Video Header-->
  <header class="relative flex items-center justify-center h-screen overflow-hidden">
    <div class="relative z-30 p-5 text-2xl text-white flex flex-col items-center">
      <p class="pb-5">The official website of</p> 
      <%= image_tag "logo.png", class: "h-32 lg:h-64 object-cover"%>
    </div>
    <video autoplay loop muted class="absolute z-10 w-auto min-w-full min-h-full max-w-none">
      <source
        src="https://voh-bucket.s3.us-east-2.amazonaws.com/jayrone-header-clip.mp4?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjECkaCXNhLWVhc3QtMSJGMEQCIE0HOOB%2BJBFlql9EwmnmyzQwpqJd5Ak1yRX1CTORcvzXAiBwWMSJYpWzcVhMFJIDZ2nnzble2TnHV0THeT80E15%2BPirtAgjC%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDc1MDIzMDAwODA5OCIMQrPkUvbfu21azPMhKsECftLL4Cq81KoLu%2F6QbZOr1gJ1Z0SJ%2B6ktUWTG4PWILwQIA0D9%2FuMYoIUUILiHpcPMqfGaV4eLb5NSCGAjDWF6vLcD6M%2FqMC387tuRafA%2B4IIjiEI2lO9q%2BG2fxAcpxx6Vekhfq6hjhcprL9sTjVUNxm0pLIKMR6K6G05bq90wO6G0lFHFC%2BgDNUOKnCIlaAZI4JdRx8RY5H%2FMyTnmTLJAOmUmP%2BKyJGh0WqJehKdbtuCh%2BkZxaB9J%2BTcJHIsL4EslSo6zcZyOzBMqYfbrR4wCSCGBfQUQ5zkPCbz2FvjSBjkzN2W%2Ba1UXBmg%2BKClHlAf8aQSTnf2WrjbOfnezQSruCcZJ%2FC04uqDkZZSmIKcvnxXzSOR4CWrVQa3OR0Obd%2BlwWcyrTttTPCObH82IomB2%2BdwrgDJTPizX7db%2BnAdEYNTNMMGSiJkGOrQCyq5IXHC630DhUqOse3S8k%2BTkjLt9XgiUySP85uVq%2F2PZESD%2FImb%2F8wPzyGYaSDgYcXAIqvQ69WU4i45BSpDvj%2FpnjFc0484Bn%2FnGEpXSFbG7L8LTAr4DAavU4rEMQoCFTc5gSPqKCUmbyOyfqRxQgn2NJh3XLOgt4qF8gsSde%2B0gb6mFP2RqCMC5gE01G7rSy0s%2FtnYETnblTlSOmej8uyVHje%2BVo0kbU6a%2F66MKqPjZ1SG7Ab9KXkPtowPXjRb%2BCpwnBPUD3%2BmEVupAAVSMuizYaE96mGH7CO4NWUlwxYLu5pbZdUK8uHez1aLb8NsXnUXJCNcuwkQzRPHaQ7iJJEpj%2BI%2BegFBqmESg6zqmqMIjo5L1hzM3lR6ehhoxsygKtntFMrNdmOQQP2by789twi7AvWw%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20220914T171111Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIA25LJROEROO7QOSVD%2F20220914%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Signature=d5c9aa37d4833b6f817dae8da93847aa25c5bb98c9b88e00022c589087684a4c"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </header>

  <!--1st section-->
  <section class="flex flex-col-reverse lg:flex-row items-center justify-center">
    <!--Text-->
    <div class="px-5 lg:px-32 lg:w-1/2">
      <p>I am Jayrone and I am...</p>
      <p class="text-4xl font-bold py-5 text-center">The Voice of a Hustler</p>
      <p class="">Born and raised in the STL - the three one four, I've been perfecting my craft over the past decade. We out here doing numbers. WATCH, COMMENT, and SUPPORT! </p>
      <!--Stats-->
      <div class="">
        <ul class="py-5 pl-3 lg:pl-20 overflow-hidden lg:overflow-visible">
          <li class="opacity-0 duration-[1500ms] translate-x-full" x-intersect="$el.classList.add('opacity-100', 'translate-x-0', 'z-0')"><div class="flex flex-row"><div class="pr-3">♬</div>The Battle Rap King</div></li>
          <li class="opacity-0 duration-[1500ms] translate-x-full" x-intersect="$el.classList.add('opacity-100', 'translate-x-0', 'z-0')"><div class="flex flex-row"><div class="pr-3">♬</div>1,000,000+ total views on YouTube</div></li>
          <li class="opacity-0 duration-[1500ms] translate-x-full" x-intersect="$el.classList.add('opacity-100', 'translate-x-0', 'z-0')"><div class="flex flex-row"><div class="pr-3">♬</div>1,000,000+ total streams on Spotify, iTunes, and SoundCloud</div></li>
          <li class="opacity-0 duration-[1500ms] translate-x-full" x-intersect="$el.classList.add('opacity-100', 'translate-x-0', 'z-0')"><div class="flex flex-row"><div class="pr-3">♬</div>Touring cross country all over America</div></li>
        </ul>
      </div>
    </div>
    <!--image-->
    <div class="lg:w-1/2">
      <%= image_tag "jayrone1.jpg", class: "object-cover p-5"%>
    </div>
  </section>

  <!--2nd section-->
  <section class="flex flex-col lg:flex-row items-center justify-center">
    <!--image-->
    <div class="lg:w-1/2">
      <%= image_tag "jayrone2.jpg", class: "object-cover p-5 rounded-4xl"%>
    </div>
    <!--Text-->
    <div class="px-5 lg:px-32 lg:w-1/2">
      <p>Life is a</p>
      <p class="text-center text-2xl font-bold underline py-10">bitch</p>
      <p class="text-right">Her stripper name is</p>
      <p class="text-right text-2xl italic py-10">karma</p>
    </div>
  </section>
</main>

<%= render "shared/footer"%>