<%= render "shared/navbar" %>
<!--needed for transitions: activate alpine again-->
<div class="" x-data="">
  <main class="bg-black text-neutral-400">
    <!--Video Header-->
    <header class="relative flex items-center justify-center h-screen overflow-hidden">
      <div class="relative z-30 p-5 text-2xl text-white flex flex-col items-center">
        <p class="pb-5">The official website of</p> 
        <%= image_tag "logo.png", class: "h-32 lg:h-64 object-cover"%>
      </div>
      <video autoplay loop muted class="absolute z-10 w-auto min-w-full min-h-full max-w-none">
        <source
          src="https://voh-bucket.s3.us-east-2.amazonaws.com/jayrone-header.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </header>

    <!--1st section-->
    <section class="flex flex-col-reverse lg:flex-row items-center justify-center">
      <!--Text-->
      <div class="px-5 lg:px-32 lg:w-1/2">
        <p>I am Jayrone and I am...</p>
        <p class="text-4xl font-bold py-5 text-center">The Voice of a Hustler</p>
        <p class="">Born and raised in the STL - the three one four, I've been perfecting my craft over the past decade. We out here doing numbers. WATCH, COMMENT, and SUPPORT! </p>
        <!--Stats-->
        <div class="">
          <ul class="py-5 pl-3 lg:pl-20 overflow-hidden lg:overflow-visible">
            <li class="opacity-0 duration-[1500ms] translate-x-full" x-intersect="$el.classList.add('opacity-100', 'translate-x-0', 'z-0')"><div class="flex flex-row"><div class="pr-3">♬</div>The Battle Rap King</div></li>
            <li class="opacity-0 duration-[1500ms] translate-x-full" x-intersect="$el.classList.add('opacity-100', 'translate-x-0', 'z-0')"><div class="flex flex-row"><div class="pr-3">♬</div>1,000,000+ total views on YouTube</div></li>
            <li class="opacity-0 duration-[1500ms] translate-x-full" x-intersect="$el.classList.add('opacity-100', 'translate-x-0', 'z-0')"><div class="flex flex-row"><div class="pr-3">♬</div>1,000,000+ total streams on Spotify, iTunes, and SoundCloud</div></li>
            <li class="opacity-0 duration-[1500ms] translate-x-full" x-intersect="$el.classList.add('opacity-100', 'translate-x-0', 'z-0')"><div class="flex flex-row"><div class="pr-3">♬</div>Touring cross country all over America</div></li>
          </ul>
        </div>
      </div>
      <!--image-->
      <div class="lg:w-1/2">
        <%= image_tag "jayrone1.jpg", class: "object-cover p-5"%>
      </div>
    </section>

    <!--2nd section-->
    <section class="flex flex-col lg:flex-row items-center justify-center">
      <!--image-->
      <div class="lg:w-1/2">
        <%= image_tag "jayrone2.jpg", class: "object-cover p-5 rounded-4xl"%>
      </div>
      <!--Text-->
      <div class="px-5 lg:px-32 lg:w-1/2">
        <p class="">Life is a</p>
        <p class="text-center text-4xl font-bold underline py-10 opacity-0 duration-[1500ms] scale-x-0" x-intersect="$el.classList.add('opacity-100', 'scale-x-100', 'z-0')">bitch</p>
        <p class="text-right">Her stripper name is</p>
        <p class="text-right text-4xl italic py-10 opacity-0 duration-[2500ms] translate-x-full" x-intersect="$el.classList.add('opacity-100', 'translate-x-0', 'z-0')">karma</p>
      </div>
    </section>

    <!--3rd Section Featured Video-->
    <section>
      <h1 class="font-bold text-4xl text-center lg:mt-20 ">Featured Video</h1>
      <% @feature.reverse_each do | feature | %>
      <!--Mobile Views-->
      <div class="flex flex-col items-center my-5 lg:hidden">
        <iframe width="320" height="180" src="https://www.youtube.com/embed/<%=feature.code%>" title="YouTube feature player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% if admin_signed_in? %>
        <div class="flex flex-row items-center gap-3">
          <%= button_to 'Destroy this feature', feature_path(feature), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-400 font-medium text-red-800 text-sm hover:bg-red-600" %>
          <%= link_to 'Edit this feature', edit_feature_path(feature), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium text-sm" %>
        </div>
        <%end%>
      </div>   

      <!--desktop Views-->
      <div class="lg:flex lg:flex-col lg:items-center lg:my-5 hidden">
        <iframe width="1000" height="562" src="https://www.youtube.com/embed/<%=feature.code%>" title="YouTube feature player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% if admin_signed_in? %>
        <div class="flex flex-row items-center gap-3">        
          <%= button_to 'Destroy this feature', feature_path(feature), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-400 font-medium text-red-800 hover:bg-red-600" %>
          <%= link_to 'Edit this feature', edit_feature_path(feature), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        </div>
        <%end%>
      </div>  
      <%end%>
    </section>


    <!--4th section - CTA link to contact us-->
    <section class="py-10 px-5 flex flex-col items-center text-neutral-200">
      <!--Main box-->
      <div class="w-full lg:w-4/5 duration-[8000ms] scale-95" x-intersect="$el.classList.add('scale-100', 'z-0')" >
        <div class="bg-neutral-700 drop-shadow-2xl rounded-2xl flex flex-col lg:flex-row-reverse lg:justify-between">
          <!--Image stuff-->
          <%= image_tag "crowd.jpg", class: "w-full rounded-t-2xl saturate-200 lg:w-2/5 lg:rounded-r-2xl lg:rounded-l-none" %>
          <!--Text Stuff-->
          <div class="lg:pl-10 px-3 pt-7 pb-3 flex flex-col justify-center">
            <h3 class="font-semibold ">Contact the Voice of the Hustler</h3>
            <h2 class="font-bold text-3xl ">For Media Inquiries and Bookings</h2>
            <p class="">
            Get in my DMs.  Follow the link below and fill out the form to get in contact.  
            </p>
            <%= link_to new_message_path do %>
              <div class="flex flex-row justify-center p-3 lg:justify-start lg:mt-8">
                <div class="text-center p-3 px-6 bg-neutral-200 rounded-lg hover:bg-neutral-400 text-black w-2/3 lg:w-1/3">
                  Holla at me!
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
<%= render "shared/footer"%>