<%= render "shared/navbar" %>
<!--needed for transitions: activate alpine again-->
<div class="" x-data="">
  <main class="bg-black text-neutral-400">
    <!--Video Header-->
    <header class="relative flex items-center justify-center h-screen overflow-hidden">
      <div class="relative z-30 p-5 text-2xl text-white flex flex-col items-center">
        <p class="pb-5">The official website of</p> 
        <%= image_tag "logo.png", class: "h-32 lg:h-64 object-cover"%>
      </div>
      <video autoplay loop muted class="absolute z-10 w-auto min-w-full min-h-full max-w-none">
        <source
          src="https://voh-bucket.s3.us-east-2.amazonaws.com/jayrone-header-clip.mp4"
          type="video/mp4"
        />
        Your browser does not support the video tag.
      </video>
    </header>

    <!--1st section-->
    <section class="flex flex-col-reverse lg:flex-row items-center justify-center">
      <!--Text-->
      <div class="px-5 lg:px-32 lg:w-1/2">
        <p>I am Jayrone and I am...</p>
        <p class="text-4xl font-bold py-5 text-center">The Voice of a Hustler</p>
        <p class="">Born and raised in the STL - the three one four, I've been perfecting my craft over the past decade. We out here doing numbers. WATCH, COMMENT, and SUPPORT! </p>
        <!--Stats-->
        <div class="">
          <ul class="py-5 pl-3 lg:pl-20 overflow-hidden lg:overflow-visible">
            <li class="opacity-0 duration-[1500ms] translate-x-full" x-intersect="$el.classList.add('opacity-100', 'translate-x-0', 'z-0')"><div class="flex flex-row"><div class="pr-3">♬</div>The Battle Rap King</div></li>
            <li class="opacity-0 duration-[1500ms] translate-x-full" x-intersect="$el.classList.add('opacity-100', 'translate-x-0', 'z-0')"><div class="flex flex-row"><div class="pr-3">♬</div>1,000,000+ total views on YouTube</div></li>
            <li class="opacity-0 duration-[1500ms] translate-x-full" x-intersect="$el.classList.add('opacity-100', 'translate-x-0', 'z-0')"><div class="flex flex-row"><div class="pr-3">♬</div>1,000,000+ total streams on Spotify, iTunes, and SoundCloud</div></li>
            <li class="opacity-0 duration-[1500ms] translate-x-full" x-intersect="$el.classList.add('opacity-100', 'translate-x-0', 'z-0')"><div class="flex flex-row"><div class="pr-3">♬</div>Touring cross country all over America</div></li>
          </ul>
        </div>
      </div>
      <!--image-->
      <div class="lg:w-1/2">
        <%= image_tag "jayrone1.jpg", class: "object-cover p-5"%>
      </div>
    </section>

    <!--2nd section-->
    <section class="flex flex-col lg:flex-row items-center justify-center">
      <!--image-->
      <div class="lg:w-1/2">
        <%= image_tag "jayrone2.jpg", class: "object-cover p-5 rounded-4xl"%>
      </div>
      <!--Text-->
      <div class="px-5 lg:px-32 lg:w-1/2">
        <p class="">Life is a</p>
        <p class="text-center text-4xl font-bold underline py-10 opacity-0 duration-[1500ms] scale-x-0" x-intersect="$el.classList.add('opacity-100', 'scale-x-100', 'z-0')">bitch</p>
        <p class="text-right">Her stripper name is</p>
        <p class="text-right text-4xl italic py-10 opacity-0 duration-[2500ms] translate-x-full" x-intersect="$el.classList.add('opacity-100', 'translate-x-0', 'z-0')">karma</p>
      </div>
    </section>
  </main>
</div>
<%= render "shared/footer"%>